/bootstrap/cache
/node_modules
/storage/*.key
/storage/*.index
/storage/*.xlsx
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.idea/vcs.xml
public/fonts/vendor/video.js/
.DS_Store
public/js/
composer.lock
package-lock.json
yarn.lock
public/mix-manifest.json
public/css/
public/public/upload/
_ide_helper.php
!/storage/
storage/tmp/
public/mms/
!/public/voice/
